# dependencies
node_modules/

# logs
logs
*.log

# environment files
.env

# Cypress stuff
cypress/screenshots/
cypress/videos/

# OS and editor files
.DS_Store
Thumbs.db

# my play files

cypress/e2e/index.cy - Copy.js
